*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    box-shadow: ;
    border: 1px solid red;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    /* align-items: center; */
    /* height: 100vh; */
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1rem;
    border: 1px solid red;
}
.numbers{
    display: flex;
    gap: 1rem;
}
.num{
    border-radius: 50%;
    height: 100px;
    width: 100px;
justify-content: center;
    background-color: hsl(217, 12%, 63%);
}